.tooltip-content{
    display: none;
    background-color: black;
    color: white;
    position: absolute;
    width: 350px;
    text-align: center;
    border-radius: 6px;
    right: 60%;
}

.tooltip{
    position: absolute;
    top: 40px;
    left: 60%;
    display: inline-block;
}

.tooltip:hover .tooltip-content{
    display: block;
}
